h1{
	font: 1000px Arail;
	color: blue;
}

h3 {
	font: 16px Arail;
	color: white;
}

.boxes {
	width: 80%;
	border: navy 5px double;
	background-color: seagreen; 
}

canvas{
	border: 1px black solid;
}
